		

<div class="col-md-3" >
	<div class="panel panel-default">
		<div class="panel-heading"> My Dinner </div>
		
		<div class="panel-body">
			People: <input ng-model="numberOfGuests" type="number" min="1" ng-change="setNumberOfGuest(numberOfGuests)"/>
		</div>
		<table class="table table-condensed table-striped table-bordered">
			<thead>
				<tr>
					<td> <strong>Dish Name</strong> </td>
					<td class="text-right"> <strong>Cost </strong></td>
				</tr>
			</thead>
			<tbody id="cartDishes">
				<tr ng-repeat="dish in fullMenu()">
					<td> {{dish.Title}} </td>
					<td class="text-right"> {{getDishPrice(dish) | singleDecimal | currency:"$"}}</td>
				</tr>

			</tbody>
			<tr>
				<td class="text-right">SEK</td>
				<td class="text-right">{{getTotalMenuPrice() | singleDecimal}}</td>
			</tr>
		</table>
		<div class="panel-body">
			<a href="#/checkout" type="button" class="btn btn-default btn-block"> Confirm Dinner </a>
		</div>

	</div>
</div>


<!-- TODO in Lab 5: Display the items on the menu with cost for each -->


<!-- Displaying number of guests both in input box and here is redundant. It is here only for the example
purpose so you can see how some information from the model can be retrieved. In Lab 5 you will replace 
this with Total price of the menu -->
