<!-- TODO in Lab 5: there is not much to do on the home screen. Just arrange the layout so it
looks a bit nicer. -->

<div class="container-fluid" style="max-width: 960px;background-image: url(./images/iu.jpg);padding-top:20px">
	<div class="col-md-6 jumbotron" style="background-color:rgba(255,255,255,0.7); padding-top:10px;" >
		<h2>A Home Dinner Service</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
		<a href="#/search" class="btn btn-primary btn-lg" type="button">Create new dinner</a>
	</div>
</div>